.main1{
    background-color: rgb(219, 216, 216);
    height: 3000px;
}
.header {
    height: 130px;
    width: 100%;
    background-color: #546CE8;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
}
.logo{
    margin-left: 5%;
    width: 10%;
}
.text-header-1{
    color: white;
    transform: translateY(15px);
}
.text-header-2{
    color: white;
}
.search{
    margin-left: 20%;
    transform: translateY(-85px);  
}
.button-search{
    height: 36px;
    transform: translateX(-5px);
}
.header-2{
    height: 20px;
    position:absolute;
    top: 70%;
    width: 100%;
}

.button-header-0{
    height: 20px;
    position:absolute;
    color: white;
    left: 20%;

}
.button-header-1{
    height: 20px;
    position:absolute;
    color: white;
    left: 28%;

}
.button-header-2{
    height: 20px;
    color: white;
    position:absolute;

    left: 40%;

}
.button-header-3{
    height: 20px;
    position:absolute;
    color: white;
    left: 50%;

}
.button-header-4{
    height: 20px;
    position:absolute;
    color: white;
    left: 60%;
}

.header-3{
    position: absolute;
    top: 23%;
    right: 33%;
}
.button-header-5{
    color: white;

}

.sodienthoai{
    position: absolute;
    left: 150%;
    top: -70%;
}
.button-header-6{
    position: absolute;
    right: -700%;
    color: white;
}
.button-header-7{
    position: absolute;
    right: -1300%;
    color: white;
}
.xaydungpc{
    position: absolute;
    width: 500%;
    left: 150%;
    top: -50%;
}
.button-header-8{
    position: absolute;
    right: -2000%;
    color: white;
}
.slide{
    background-color: rgb(219, 216, 216);
    height: 700px;
    width: 70%;
    top: 150px;
    left: 10%;
}

.carousel{
    width: 120%;
    height: 450px;
}
.main{
    height: 500px;
    width: 100%;
    margin-top: -75px;
}

/* .main .left{
    width: 15%;
    height: 85%;
    float: left;
}
.main .left .main-left-a{
    width: 95%;
    height: 40%;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;

}
.main .left .main-left-b{
    width: 95%;
    height: 60%;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;
 } */
.main .mid {
    width: 83%;
    height: 30%;
    float: left;
    position: absolute;
    left: 7.5%;
    background-color: white;
}
/* .main .mid .main-mid-1{
    width: 48%;
    height: 25%;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    
}
.main .mid .main-mid-2{
    width: 48%;
    height: 25%;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
} */
.main .mid .main-mid-3{
    width:  15.7%;
    height: 25%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.main .mid .main-mid-4{
    width:  15.7%;
    height: 25%;
 
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.main .mid .main-mid-5{
    width:  15.7%;
    height: 25%;
   
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.main .mid .main-mid-6{
    width:  15.7%;
    height: 25%;
   
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.main .mid .main-mid-7{
    width:  15.7%;
    height: 25%;
   
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.main .mid .main-mid-8{
    width:  15.7%;
    height: 25%;
   
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
/* .main .right {
    width: 20%;
    height: 93%;
    border: 1px solid black;
    float: left;
} */
.sanpham{
    width: 83%;
    height: 200%;
    float: left;
    position: absolute;
    left: 7.5%;
    background-color: white;
    margin-top: -205px;
}
.sanpham-main-1{
    width:  19.5%;
    height: 29%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border: 1px solid rgb(214, 211, 211);
}
.sanpham-main-2{
    width:  19.5%;
    height: 29%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border: 1px solid rgb(214, 211, 211);
}
.sanpham-main-3{
    width:  19.5%;
    height: 29%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border: 1px solid rgb(214, 211, 211);
}
.sanpham-main-4{
    width:  19.5%;
    height: 29%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border: 1px solid rgb(214, 211, 211);
}
.sanpham-main-5{
    width:  19.5%;
    height: 29%;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border: 1px solid rgb(214, 211, 211);
}


.stars {
    width: 270px;
    display: inline-block;
  }
   
  
  input.star { display: none; }
   
  label.star {
    float: right;
    padding: 0px 2px;
    font-size: 20px;
    color: #444;
    transition: all .2s;
  }
   
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: yellow;
    transition: all .25s;
  }
   
  input.star-1:checked ~ label.star:before { color: #F62; }
   
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
   
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }